
/* 
    Created on : 26.01.2018, 14:54:03
    Author     : Михаилус
*/

@media print { 
    /*@page { margin: 1cm; }*/
    
    section { page-break-before: always;}
    
    tr { widows: 4;}
    
    tr { orphans: 3;}

    *,*:before,
    *:after,
    *:first-letter,
    p:first-line,
    div:first-line,
    blockquote:first-line,
    li:first-line 
    { 
        background: transparent !important; 
        color: #000 !important; 
        box-shadow: none !important; 
        text-shadow: none !important;
    }
    
    .btn,
    .nav,
    .breadcrumb,
    .footer,
    .summary,
    .action-column,
    .actionColumnCell,
    .no-print
    {
        display: none;
    }
    
    .wrap > .container {
    padding: 0px 0px 0px;
}
     a[href]:after {
        content: "";
    }
    .not-razriv
    {
    page-break-inside: avoid;
    }
    
    .next-page {
     page-break-after: always;
    }
    
    .grid-view td{
        font-size:16px;
    }
}