
@media print { 
    /*@page { margin: 1cm; }*/
    @page 
    {
        size: auto;   /* auto is the initial value */
        margin: 0 15mm;  /* this affects the margin in the printer settings */
    }
    section { page-break-before: always;}
    
    tr { widows: 4;}
    
    tr { orphans: 3;}

    *,*:before,
    *:after,
    *:first-letter,
    p:first-line,
    div:first-line,
    blockquote:first-line,
    li:first-line 
    { 
        background: transparent !important; 
        color: #000 !important; 
        box-shadow: none !important; 
        text-shadow: none !important;
    }
    
    .btn,
    .nav,
    .breadcrumb,
    .footer,
    .summary,
    .action-column,
    .actionColumnCell,
    .no-print,
    #timetable tr>td:first-child,
    #timetable tr>th:first-child,
    #timetable tr>td:last-child
    {
        display: none;
    }
    
    .wrap > .container {
    padding: 0px 0px 0px;
}
     a[href]:after {
        content: "";
    }
    .not-razriv
    {
    page-break-inside: avoid;
    }
    
    .next-page {
     page-break-after: always;
    }
    
    .grid-view td{
        font-size:16px;
    }
    
    .bigtext{
        font-size:20px !important;  
    }
    .mText{
        font-size:18px !important;  
    }
    .container{
        width: 100%;
    }
}