html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: normal;
    font-size: 12px;
    /*white-space: nowrap;*/
}

.grid-view td {
    font-size: 12px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/* M Dolgopolov */
label{
    font-weight: normal;
}
.field-category-solo > .control-label {
    display:none;
}
#category-dances, 
#category-clas, 
#category-skay, 
#category-program, 
#category-solo,
#category-chesses_list,
#tur-typezahod,
#tur-dances,
#tur-typeskating,
.field-tur-status
{
    border: 1px solid #cccccc;
    background: #fff9e8;
    padding: 10px;
}
#category-dances label, 
#category-clas label,
#category-chesses_list label,
#tur-typezahod label,
#tur-dances label,
#tur-typeskating label
{
    background: rgb(221, 221, 221);
    padding: 5px 10px;
    margin-right: 10px;
}

.panel, .panel-heading{
    border-radius: 0;
}

.field-category-agemin, 
.field-category-agemax, 
.field-category-otd_id,
.field-category-solo,
.field-category-program,
.field-category-skay,
.field-tur-zahodcount,
.field-tur-typezahod,
.field-tur-parnexttur,
.field-tur-typeskating,
.field-tur-status,
.field-tur-nomer
{
    display: inline-block;
    margin-right: 20px;
}

.field-tur-turtime{
    display: inline-table;
    vertical-align: -webkit-baseline-middle;
}

.field-category-agemin, 
.field-category-agemax{
    width: 90px;
}

table.turs {
    border-spacing: 0px 5px;
    border-collapse: separate;
    width: 100%;
}

table .colaps {
    background: #d6d6d6;
    color: #505050;
}

.colaps td {
    padding: 10px;
}

.turRow {
    display: none;
}

.turRow input {
    width: 50px;
    margin-right: 10px;
    margin-bottom: 5px;
}

td.number {
    width: 50px;
}


/**************************/
/******  Регистрация  *****/
/**************************/

.registration-create .rightBlock h3
{
    margin-top: 0px;
    /* background: #337AB7; */
    /*padding: 10px;*/
    color: #616161;
}
/*.leftBlock {
    width: 450px;
    float: left;
    margin-right: 30px;
}*/
#trener_list{
    margin-top: 40px;
}

.form-group {
    margin-bottom: 0px;
}

.field-registration-d1_sname,
.field-registration-d2_sname,
.field-registration-city,
.field-registration-d_trener1_sname,
.field-registration-d_trener2_sname,
.field-registration-d_trener3_sname,
.field-registration-d_trener4_sname,
.field-registration-d_trener5_sname,
.field-registration-d_trener6_sname
{
    width: 300px;
    float: left;
    margin-right: 17px;
}

.field-registration-d1_name,
.field-registration-d2_name,
.field-registration-country,
.field-registration-d_trener1_name,
.field-registration-d_trener2_name,
.field-registration-d_trener3_name,
.field-registration-d_trener4_name,
.field-registration-d_trener5_name,
.field-registration-d_trener6_name
{
    width: 200px;
    float: right;
}

.field-registration-d1_date,
.field-registration-d2_date
{
    width: 240px;
    float:left;
    margin-right: 22px;
}

.field-registration-d1_class_st,
.field-registration-d1_class_la,
.field-registration-d2_class_st,
.field-registration-d2_class_la
{
    width: 120px;
    float:left;
    margin-right: 15px;
}

.field-registration-d1_class_la,
.field-registration-d2_class_la
{
    margin-right: 0;
}

.flex-container {
    display: flex;
    /*margin-bottom: 30px;*/
}

.one {
/*    background: #337AB7;*/
    flex: 0 2 100%;
    padding: 30px;  
}
.two {
    /*background: #ffffff;*/
    flex: 0 2 100%;
    padding: 30px 30px 30px 0px;
}

.three {
    text-align: center;
}

.three button {
    background: #4CAF50;
    border-color: #4CAF50;
    border-radius: 0;
    padding: 10px 30px;
    font-size: 18px;
}

#trener_2,
#trener_3,
#trener_4,
#trener_5,
#trener_6
{
    display: none;
}

.trenerItem {
    float: left;
}

.showTrener {
    float: left;
    color: #D6D6D6;
    margin-right: 5px;
}

.in-form {
    background: #f1f1f1;
    padding-bottom: 30px;
}